* {
	margin: 0;
	padding: 0;
}

:root {
	--primary-text-color: rgb(73, 242, 204);
	--secondary-text-color: rgb(175, 175, 175);
	--primary-glass-color: rgba(55, 65, 68, 0.75);
	--secondary-glass-color: rgba(81, 97, 102, 0.5);
}

body {
	background-image: url(background-image.svg);
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
	font-family: Poppins;
}

section {
	height: 100vh;
}

a {
	text-decoration: none;
}

p {
	color: var(--secondary-text-color);
}


.navigator{
	position: fixed;
	background-color: var(--primary-glass-color);
	height: 10vh;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: space-around;
}

.navigator-items:link, .navigator-items:visited {
	color: var(--secondary-text-color);
	
	transition: color 250ms ease-in-out;
}

.navigator-items:hover, .navigator-items:active {
	color: white;
}


.heading {
	padding: 1vh 5vw;
	color: var(--primary-text-color);
}


.home-section {
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.intro-content {
	padding: 1vh 5vw;
	color: var(--secondary-text-color);
	font-weight: 400;
}


.about-section {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.about {
	display: flex;
	flex-direction: column;
	justify-content: center;

	height: 50vh;
}

.about-content {
	background-color: var(--primary-glass-color);
	color: var(--secondary-text-color);

	border-radius: 1rem;
	width: 20vw;
	padding: 5vw;
}

@media screen and (max-width: 800px) {
	.about-content {
		width: 50vw;
		padding: 10vw;
	}
}


.projects-section {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.projects {
	width: 100%;
	height: 50vh;

	display: grid;
	gap: 2rem;
	grid-template-columns: 1fr 1fr;
	justify-items: center;
	align-items: center;
}

.projects-item {
	background-color: var(--primary-glass-color);
	border-radius: 1rem;
	width: 20rem;
	height: 10rem;
	padding: 1vh 1vw;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	transition: background-color 500ms ease-in-out, padding 500ms ease-in-out;
}

.projects-item:hover {
	background-color: var(--secondary-glass-color);
	padding: 2vh 2vw;
}

@media screen and (max-width: 800px) {
	.projects {
		height: 70vh;
		grid-template-columns: 1fr;
		grid-template-rows: 1fr 1fr;
	}
}

.projects-item * {
	padding: 10px;
	text-align: center;
}

.project-title {
	color: var(--primary-text-color);
}

.project-link-github {
	color: var(--secondary-text-color);
}


.socials {
	background-color: var(--primary-glass-color);
	height: 15vh;
	display: flex;
	align-items: center;
	justify-content: center;
}

.social-link:link, .social-link:visited {
	color: var(--secondary-text-color);
	padding: 0 5vw;

	transition: color 250ms ease-in-out;
}

.social-link:hover, .social-link:active {
	color: white;
}
