* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
	background: linear-gradient(-45deg, #04a5e5, #7287fd, #8839ef, #ea76cb);
	background-size: 400% 400%;
	animation: gradient 60s ease-in-out infinite;
	height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;
}

.info {
  color: white;
  font-family: sans-serif;
  text-align: center;
  font-size: 2rem;
  padding: 128px;
  border-radius: 16px;

  background: linear-gradient(135deg, #ffffff40, #ffffff20);
  backdrop-filter: 8px;
  border: 1px solid #80808040;
  box-shadow: 0 0 16px 0 #cccccc40;
}

.header {
  font-size: 3rem;
}

@keyframes gradient {
	0% {
		background-position: 25% 25%;
	}
  25% {
    background-position: 75% 25%;
  }
	50% {
		background-position: 75% 75%;
	}
	75% {
		background-position: 25% 75%;
	}
  100% {
    background-position: 25% 25%;
  }
}
